Repository chrislgarry/Apollo-11, pull requests merged in 2018-03, with the labels that each got.

#323 Proof SERVICE_ROUTINES (#256)
  Comanche055/SERVICE_ROUTINES.agc
Labels: Status: Review Needed, Type: Proof

#322 Proof S-BAND_ANTENNA_FOR_CM (#254)
  Comanche055/S-BAND_ANTENNA_FOR_CM.agc
Labels: Status: Review Needed, Type: Proof

#316 Proof LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES (#224)
  Comanche055/LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES.agc
Labels: Type: Proof

#311 Proof FIXED_FIXED_CONSTANT_POOL (#207)
  Comanche055/FIXED_FIXED_CONSTANT_POOL.agc
Labels: Type: Proof

#318 Convert main header file into source code indices
  Comanche055/MAIN.agc
  Comanche055/README.md
Labels: Type: Enhancement

#308 Proof TVCEXECUTIVE #267
  Comanche055/TVCEXECUTIVE.agc
Labels: Status: Review Needed, Type: Proof

#317 Proof P76 (#239)
  Comanche055/P76.agc
Labels: Type: Proof
