Repository chrislgarry/Apollo-11, pull requests merged in 2018-05, with the labels that each got.

#326 Proof TVCMASSPROP (#269)
  Comanche055/TVCMASSPROP.agc
Labels: Status: Revision Needed, Type: Proof

#335 Proof AUTOMATIC_MANEUVERS (#194)
  Comanche055/AUTOMATIC_MANEUVERS.agc
Labels: Type: Proof

#338 Proof CSM_GEOMETRY (#199)
  Comanche055/CSM_GEOMETRY.agc
Labels: Type: Proof

#330 Proof WAITLIST (#274)
  Comanche055/WAITLIST.agc
Labels: Type: Proof

#329 Convert Attribution code block to tables
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  Comanche055/README.md
  README.es.md
  README.fr.md
  README.ko_kr.md
  README.md
  README.pt_br.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type: Meta

#339 Proof ANGLFIND (#192)
  Comanche055/ANGLFIND.agc
Labels: Type: Proof

#336 Proof CM_BODY_ATTITUDE (#195)
  Comanche055/CM_BODY_ATTITUDE.agc
Labels: Type: Proof

#342 Some README.pt_br content was translated from English into Portuguese
  README.pt_br.md
Labels: Type: Meta
