Repository chrislgarry/Apollo-11, pull requests merged in 2020-02, with the labels that each got.

#553 Contributing: Add more text editors with AGC syntax support
  CONTRIBUTING.ar.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
Labels: Type: Meta

#559 Fixed typo.
  Comanche055/P11.agc
Labels: Type: Proof

#530 Proof P32-P33_P72-P73
  Comanche055/P32-P33_P72-P73.agc
Labels: Status: Accepted, Type: Proof

#652 Proof R63 #629
  Luminary099/R63.agc
Labels: Status: Accepted, Type: Proof

#653 Proof THROTTLE_CONTROL_ROUTINES (#646)
  Luminary099/THROTTLE_CONTROL_ROUTINES.agc
Labels: Status: Accepted, Type: Proof

#655 Translate text mentioned in issue #553
  CONTRIBUTING.zh_tw.md
Labels: Status: Review Needed, Type: Meta

#558 turkish language changes
  README.tr.md
Labels: Status: Accepted, Type: Meta

#657 Proof SINGLE_PRECEISION_SUBROUTINES
  Luminary099/SINGLE_PRECISION_SUBROUTINES.agc
Labels: Status: Accepted, Type: Proof

#607 Translate 'CONTRIBUTING' file to Spanish
  CONTRIBUTING.ar.md
  CONTRIBUTING.es.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
  CONTRIBUTING.zh_cn.md
  CONTRIBUTING.zh_tw.md
Labels: Status: Accepted, Type: Meta

#659 Translate roles in Spanish README
  README.es.md
Labels: Status: Accepted, Type: Meta

#658 Add CONTRIBUTING.fr.md
  CONTRIBUTING.ar.md
  CONTRIBUTING.es.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.nl.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
  CONTRIBUTING.zh_cn.md
  CONTRIBUTING.zh_tw.md
Labels: Status: Accepted, Type: Meta
