Repository chrislgarry/Apollo-11, pull requests merged in 2020-10, with the labels that each got.

#702 Create Czech README and CONTRIBUTING
  CONTRIBUTING.cz.md
  README.cz.md
Labels: Type: Meta

#703 Proof R31 #627
  Luminary099/R31.agc
Labels: Type: Proof

#705 Proof RADAR_LEADIN_ROUTINES #630
  Luminary099/RADAR_LEADIN_ROUTINES.agc
Labels: Type: Proof

#710 Update README.bd_bn.md
  README.bd_bn.md
Labels: Type: Meta

#708 Proof INPUT_OUTPUT_CHANNEL_BIT_DESCRIPTIONS.acg #592
  Luminary099/INPUT_OUTPUT_CHANNEL_BIT_DESCRIPTIONS.agc
Labels: Type: Proof

#753 Update CONTRIBUTING.zh_tw.md
  CONTRIBUTING.zh_tw.md
Labels: Type: Meta

#755 Update FR CONTRIBUTING
  CONTRIBUTING.fr.md
  CONTRIBUTING.md
Labels: Type: Meta

#716 Added Norwegian README and CONTRIBUTING
  CONTRIBUTING.no.md
  README.no.md
Labels: Type: Meta

#720 Add Greek (Ελληνικά) README && CONTRIBUTING
  CONTRIBUTING.ar.md
  CONTRIBUTING.cz.md
  CONTRIBUTING.de.md
  CONTRIBUTING.es.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.gr.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.ku.md
  CONTRIBUTING.md
  CONTRIBUTING.nl.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
  CONTRIBUTING.zh_cn.md
  CONTRIBUTING.zh_tw.md
  README.ar.md
  README.bd_bn.md
  README.ca.md
  README.cz.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.gr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko_kr.md
  README.ku.md
  README.md
  README.mm.md
  README.nl.md
  README.pl.md
  README.pt_br.md
  README.ro.md
  README.ru.md
  README.tr.md
  README.vi.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type: Meta

#728 Add Lithuanian Contributing file
  CONTRIBUTING.lt.md
Labels: Type: Meta

#747 Add Italian CONTRIBUTING
  CONTRIBUTING.it.md
Labels: Type: Meta

#756 Proof TRIM_GIMBAL_CNTROL_SYSTEM #649
  Luminary099/TRIM_GIMBAL_CONTROL_SYSTEM.agc
Labels: Type: Proof

#754 Proof POWERED_FLIGHT_SUBROUTINES #624
  Luminary099/POWERED_FLIGHT_SUBROUTINES.agc
Labels: Status: Review Needed, Type: Proof

#740 Update CONTRIBUTING.tr.md
  CONTRIBUTING.tr.md
Labels: Type: Meta

#712 Proof FIXED_FIXED_CONSTANT_POOL #582
  Luminary099/FIXED_FIXED_CONSTANT_POOL.agc
Labels: Type: Proof

#713 Proof LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES #605
  Luminary099/LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES.agc
Labels: Type: Proof

#714 Proof RESTART_TABLES #633
  Luminary099/RESTART_TABLES.agc
Labels: Type: Proof

#715 Poof RESTARTS_ROUTINE #632
  Luminary099/RESTARTS_ROUTINE.agc
Labels: Type: Proof

#707 Proof IMU_COMPENSATION_PACKAGE #587
  Luminary099/IMU_COMPENSATION_PACKAGE.agc
Labels: Type: Proof

#717 Proof PLANETARY_INERTIAL_ORIENTATION #623
  Luminary099/PLANETARY_INERTIAL_ORIENTATION.agc
Labels: Type: Proof

#761 Update README.gr.md
  README.gr.md
Labels: Type: Meta

#719 Proof P70-P71 #618
  Luminary099/P70-P71.agc
Labels: Type: Proof

#727 Polish CONTRIBUTING
  CONTRIBUTING.pl.md
Labels: Type: Meta

#730 Proof INTER-BANK_COMMUNICATION #594
  Luminary099/INTER-BANK_COMMUNICATION.agc
Labels: Type: Proof

#731 Proof LAMBERT_AIMPOINT_GUIDANCE #601
  Luminary099/LAMBERT_AIMPOINT_GUIDANCE.agc
  Luminary099/README.md
Labels: Type: Proof

#732 Proof INTERRUPT_LEAD_INS #597
  Luminary099/INTERRUPT_LEAD_INS.agc
Labels: Type: Proof

#734 Proof DAPIDLER_PROGRAM #573
  Luminary099/DAPIDLER_PROGRAM.agc
Labels: Status: Review Needed, Type: Proof

#735 Proof KALCMANU_STEERING #598
  Luminary099/KALCMANU_STEERING.agc
Labels: Type: Proof

#736 Proofread LATITUDE_LONGITUDE_SUBROUTINES.agc
  Luminary099/LATITUDE_LONGITUDE_SUBROUTINES.agc
Labels: Type: Proof

#737 Proof KEYRUPT_UPRUPT #600
  Luminary099/KEYRUPT_UPRUPT.agc
Labels: Type: Proof

#783 Fix typo in বাংলা README md file
  README.bd_bn.md
Labels: Type: Meta

#742 Proof LANDING_ANALOG_DISPLAYS #602
  Luminary099/LANDING_ANALOG_DISPLAYS.agc
Labels: Status: Review In Progress, Type: Proof

#725 Proof LEM_GEOMETRY #604
  Luminary099/LEM_GEOMETRY.agc
Labels: Type: Proof

#765 Update README.as_in.md
  README.as_in.md
Labels: Status: Review Needed, Type: Meta

#766 Improved existing Lithuanian contribution file.
  CONTRIBUTING.lt.md
Labels: Status: Review Needed, Type: Meta
