Repository chrislgarry/Apollo-11, pull requests merged in 2020-09, with the labels that each got.

#666 Convert MAIN into Markdown source code indices
  Luminary099/MAIN.agc
  Luminary099/README.md
Labels: Type: Meta, Type: Proof

#697 Proof RTP_OP_CODES #634
  Luminary099/RTB_OP_CODES.agc
Labels: Type: Proof

#696 Proof S-BAND_ANTENNA_FOR_LM #635
  Luminary099/S-BAND_ANTENNA_FOR_LM.agc
Labels: Type: Proof

#695 Proof SERVICE_ROUTINES #637
  Luminary099/SERVICE_ROUTINES.agc
Labels: Type: Proof

#699 [DE] [CONTRIBUTING] Fixed various typos and simplified sentences
  CONTRIBUTING.de.md
Labels: Type: Meta

#700 Proof GIMBAL_LOCK_AVOIDANCE #585
  Luminary099/GIMBAL_LOCK_AVOIDANCE.agc
Labels: Type: Proof

#701 Proof GROUND_TRACKING_DETERMINATION_PROGRAM #586
  Luminary099/GROUND_TRACKING_DETERMINATION_PROGRAM.agc
Labels: Type: Proof
