Repository chrislgarry/Apollo-11, pull requests merged in 2020-01, with the labels that each got.

#513 Persian ReadMe
  README.ar.md
  README.ca.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko_kr.md
  README.md
  README.pt_br.md
  README.ru.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type: Meta

#475 Add Vietnamese README.vi.md
  README.md
  README.vi.md
Labels: Type: Meta

#538 Add Portuguese-BR translation on CONTRIBUTING
  CONTRIBUTING.ar.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.pt_br.md
Labels: Type: Meta

#552 Localisation updates
  CONTRIBUTING.ar.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
  README.ar.md
  README.ca.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko_kr.md
  README.md
  README.pl.md
  README.pt_br.md
  README.ro.md
  README.ru.md
  README.tr.md
  README.vi.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type%3A%20Meta, Type: Meta

#531 Add Traditional Chinese CONTRIBUTING.md
  CONTRIBUTING.ar.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.zh_tw.md
  README.zh_tw.md
Labels: Status: Revision Needed, Type: Meta

#500 Add Simplified Chinese CONTRIBUTING.md
  CONTRIBUTING.ar.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.md
  CONTRIBUTING.zh_cn.md
Labels: Type: Meta

#554 Add Chinese CONTRIBUTING.md links to TR and PT_BR
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
Labels: Type: Meta

#534 Add Bangla README and CONTRIBUTING
  README.ar.md
  README.bd_bn.md
  README.ca.md
  README.de.md
  README.es.md
  README.fr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko_kr.md
  README.md
  README.pt_br.md
  README.ru.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Status: Revision Needed, Type: Meta

#415 Add Burmese README
  README.ar.md
  README.ca.md
  README.de.md
  README.es.md
  README.fr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ko_kr.md
  README.mm.md
  README.pt_br.md
  README.ru.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Status: Revision Needed, Type: Meta

#556 Add Bangla (#534) and Burmese (#415) README and use correct commas in Persian README
  README.ar.md
  README.bd_bn.md
  README.ca.md
  README.de.md
  README.es.md
  README.fa.md
  README.fr.md
  README.hi_in.md
  README.id.md
  README.it.md
  README.ja.md
  README.ko_kr.md
  README.md
  README.mm.md
  README.pl.md
  README.pt_br.md
  README.ro.md
  README.ru.md
  README.tr.md
  README.vi.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type: Meta
