Repository chrislgarry/Apollo-11, pull requests merged in 2020-03, with the labels that each got.

#661 contributing nl -> CONTRIBUTING.es.md is missing
  CONTRIBUTING.nl.md
Labels: Type: Meta

#660 Minor changes to Spanish CONTRIBUTING
  CONTRIBUTING.es.md
Labels: Type: Meta

#662 Proof P76 #619
  Luminary099/P76.agc
Labels: Status: Accepted, Type: Proof

#664 Fix YaYUL Fatal Errors in Comanche055
  Comanche055/CONIC_SUBROUTINES.agc
  Comanche055/DISPLAY_INTERFACE_ROUTINES.agc
  Comanche055/EXTENDED_VERBS.agc
  Comanche055/FRESH_START_AND_RESTART.agc
  Comanche055/GROUND_TRACKING_DETERMINATION_PROGRAM.agc
  Comanche055/IMU_CALIBRATION_AND_ALIGNMENT.agc
  Comanche055/IMU_MODE_SWITCHING_ROUTINES.agc
  Comanche055/INTERPRETER.agc
  Comanche055/MAIN.agc
  Comanche055/ORBITAL_INTEGRATION.agc
  Comanche055/P20-P25.agc
  Comanche055/P30-P37.agc
  Comanche055/P32-P33_P72-P73.agc
  Comanche055/P34-35_P74-75.agc
  Comanche055/P37_P70.agc
  Comanche055/P40-P47.agc
  Comanche055/P51-P53.agc
  Comanche055/P61-P67.agc
  Comanche055/P76.agc
  Comanche055/PINBALL_GAME_BUTTONS_AND_LIGHTS.agc
  Comanche055/R60_62.agc
  Comanche055/STABLE_ORBIT.agc
  Comanche055/SXTMARK.agc
  Comanche055/TPI_SEARCH.agc
  Comanche055/WAITLIST.agc
Labels: Type: Proof

#665 Fix YaYUL Fatal Errors in Luminary099
  Luminary099/ALARM_AND_ABORT.agc
  Luminary099/AOSTASK_AND_AOSJOB.agc
  Luminary099/AOTMARK.agc
  Luminary099/ASCENT_GUIDANCE.agc
  Luminary099/BURN_BABY_BURN--MASTER_IGNITION_ROUTINE.agc
  Luminary099/CONIC_SUBROUTINES.agc
  Luminary099/DAP_INTERFACE_SUBROUTINES.agc
  Luminary099/DISPLAY_INTERFACE_ROUTINES.agc
  Luminary099/DOWN_TELEMETRY_PROGRAM.agc
  Luminary099/EXTENDED_VERBS.agc
  Luminary099/FRESH_START_AND_RESTART.agc
  Luminary099/GROUND_TRACKING_DETERMINATION_PROGRAM.agc
  Luminary099/IMU_PERFORMANCE_TEST_2.agc
  Luminary099/INTERPRETER.agc
  Luminary099/LUNAR_LANDING_GUIDANCE_EQUATIONS.agc
  Luminary099/ORBITAL_INTEGRATION.agc
  Luminary099/P-AXIS_RCS_AUTOPILOT.agc
  Luminary099/P12.agc
  Luminary099/P20-P25.agc
  Luminary099/P30_P37.agc
  Luminary099/P32-P35_P72-P75.agc
  Luminary099/P34-35_P74-75.agc
  Luminary099/P40-P47.agc
  Luminary099/P51-P53.agc
  Luminary099/P76.agc
  Luminary099/PINBALL_GAME_BUTTONS_AND_LIGHTS.agc
  Luminary099/Q_R-AXIS_RCS_AUTOPILOT.agc
  Luminary099/R60_62.agc
  Luminary099/RESTART_TABLES.agc
  Luminary099/SERVICER.agc
  Luminary099/SPS_BACK-UP_RCS_CONTROL.agc
  Luminary099/STABLE_ORBIT.agc
  Luminary099/THE_LUNAR_LANDING.agc
  Luminary099/TJET_LAW.agc
  Luminary099/WAITLIST.agc
Labels: Type: Proof

#663 Proof THE_LUNAR_LANDING #645
  Luminary099/THE_LUNAR_LANDING.agc
Labels: Status: Accepted, Type: Proof
