Repository chrislgarry/Apollo-11, pull requests merged in 2024-12, with the labels that each got.

#918 Add Vietnamese CONTRIBUTING, update Vietnamese README
  CONTRIBUTING.vi.md
  README.vi.md
Labels: Type: Meta

#921 Språkvask
  CONTRIBUTING.no.md
Labels: Type: Meta

#922 Språkvask
  README.no.md
Labels: Type: Meta

#926 enhance Bengali translation and adjust formatting for readability REA…
  README.as_in.md
Labels: Type: Meta

#787 Add Lithuanian README.
  README.lt.md
  README.md
Labels: Status: Review Needed, Type: Meta

#919 mongolian language translation
  CONTRIBUTING.ar.md
  CONTRIBUTING.cz.md
  CONTRIBUTING.da.md
  CONTRIBUTING.de.md
  CONTRIBUTING.es.md
  CONTRIBUTING.fr.md
  CONTRIBUTING.gr.md
  CONTRIBUTING.hi_in.md
  CONTRIBUTING.id.md
  CONTRIBUTING.it.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.ko_kr.md
  CONTRIBUTING.ku.md
  CONTRIBUTING.lt.md
  CONTRIBUTING.md
  CONTRIBUTING.mn.md
  CONTRIBUTING.nl.md
  CONTRIBUTING.no.md
  CONTRIBUTING.pl.md
  CONTRIBUTING.pt_br.md
  CONTRIBUTING.tr.md
  CONTRIBUTING.ua.md
  CONTRIBUTING.zh_cn.md
  CONTRIBUTING.zh_tw.md
  README.md
  README.mm.md
  README.mn.md
  README.nl.md
  README.no.md
  README.pl.md
  README.pt_br.md
  README.ro.md
  README.ru.md
  README.tr.md
  README.ua.md
  README.vi.md
  README.zh_cn.md
  README.zh_tw.md
Labels: Type: Meta

#909 transcription error update
  README.it.md
Labels: Type: Meta

#778 added Dark mode to website and styled it up a little
  assets/bx-chevron-down.svg
  css/main.css
  css/main.css.map
  index.html
  js/darkmode.js
  js/index.js
  scss/main.scss
Labels: Status: Review Needed, Type: Meta

#718 Add Nepali README
  README.np.md
Labels: Status: Revision Needed, Type: Meta
